{% extends 'base.html' %}

{% block content %}

<div class="roastlist-container">
  {% if object.photo %}
  <img src="{{ object.photo.url }}" alt="Photo of {{ object.name }}" style="display: block; max-height: 50vh; max-width: 90%;">
  {% endif %}
  <br>
  <h1>{{ object.name }}</h1>
  <small>{{  object.public_id }}</small>
  <p>{{object.description}}</p>
  <h2>Details</h2>
  <div class="row">
    <div class="col"><strong>Supplier: </strong><a href="{{ object.supplier_website }}">{{ object.supplier }}</a></div>
  </div>
  <div class="row">
    <div class="col"><strong>Delivered On:</strong> {{ object.delivered_on }}</div>
  </div>
  <div class="row">
    <div class="col"><strong>Country:</strong> {{ object.country }}</div>
    <div class="col"><strong>Region:</strong> {{ object.region }}</div>
  </div>
  <div class="row">
    <div class="col">
      <div class="col"><strong>Variety:</strong> {{ object.variety }}</div>
    </div>
  </div>
  {% if object.altitude_min > 0 %}
  <div class="row">
    <div class="col">
      <div class="col"><strong>Altitude:</strong> {{ object.altitude_min }} - {{ object.altitude_max }} m</div>
    </div>
  </div>
  {% endif %}
  <br>
  {% if object.get_roasts %}
    <h4>Past Roasts</h4>
    <ul>
      {% for roast in object.get_roasts %}
        <li><a href="{{roast.get_url}}">{{roast}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <div style="">
    <a href="/roasts/new?id={{object.id}}" style="display: flex; justify-content: center;">Roast Me</a>
  </div>
  

</div>

{% endblock content %}
