{% extends 'base.html' %}

{% block content %}

<div class="roastlist-container">
  <h1>{{ object.bean.name }} - {{ object.roast_level }}</h1>
  <small>Roasted On: {{ object.roasted_on | date:"l M. j, Y" }} ({{ object.days_since_roast }} days since roast)</small>
  <br>
  <small><a href="{{ object.bean.get_url }}">{{ object.bean }}</a></small>
  <br><br>
  <h4>Details</h4>
  <ul>
    <li><strong>Batch Size: </strong>{{object.roast_quantity}} g ({{object.weight_loss}}% loss)</li>
    <li><strong>Roaster: </strong>{{ object.roaster }}</li>
    <li><strong>Roast Time: </strong>{{ object.roast_time }}</li>
    <li><strong>Time Past 1st Crack: </strong>{{ object.time_past_first_crack }}</li>
  </ul>
  {% if object.roast_log %}
    <a href="{{ object.roast_log.url }}">Download Roast Details [{{object.roast_log.name}}]</a>
  {% endif %}
</div>

{% endblock content %}
